# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a.sconf_temp

# SCons build files
.sconf_temp/
.sconsign.dblite
build
config.log
errors.err
tags
