sudo: required

language: cpp

os:
  - linux
  - osx

env:
  global:
    - MYPYTHON_VERSION=2.7
  matrix:
    - MYUSEMC=true
    - MYUSEMC=false

matrix:
  exclude:
    - os: osx
      env: MYUSEMC=false

git:
  depth: 999999

branches:
  except:
    - /^v[0-9]/


before_install:
  - MYNAME=libdiffpy
  - umask 022
  - git fetch origin --tags
  - if ${MYUSEMC}; then
        NOAPT=true; NOMC=false;
    else
        NOAPT=false; NOMC=true;
        MYPIPFLAGS="--user";
    fi
  - MYMCREPO=https://repo.continuum.io/miniconda
  - case ${TRAVIS_OS_NAME} in
    linux)
        MYMCBUNDLE=Miniconda-latest-Linux-x86_64.sh ;;
    osx)
        MYMCBUNDLE=Miniconda-latest-MacOSX-x86_64.sh ;;
    *)
        echo "Unsupported operating system." >&2;
        exit 2 ;;
    esac

  - mkdir -p ~/pkgs/

  - $NOMC || pushd ~/pkgs/
  - $NOMC || wget --timestamping ${MYMCREPO}/${MYMCBUNDLE}
  - $NOMC || test -x ~/mc/bin/conda || bash ${MYMCBUNDLE} -b -f -p ~/mc
  - $NOMC || popd
  - $NOMC || export PATH="${HOME}/mc/bin:${PATH}"
  - $NOMC || conda update --yes conda
  - $NOMC || conda install --yes conda-build jinja2
  - $NOMC || conda create --name=testenv --yes python=${MYPYTHON_VERSION}
  - $NOMC || conda config --add channels diffpy

  - $NOAPT || test "${TRAVIS_OS_NAME}" = "linux"
  - $NOAPT || sudo apt-get update -qq
  - $NOAPT || sudo apt-get install -y
                  libgsl0-dev libboost-all-dev python-pip build-essential scons
  - $NOAPT || scons sdist
  - $NOAPT || MYTARBUNDLE="$(ls -t "${PWD}"/*.tar.gz | head -1)"
  - $NOAPT || pushd ~/pkgs/
  - $NOAPT || tar xzf "${MYTARBUNDLE}"
  - $NOAPT || wget --timestamping
                  https://github.com/CxxTest/cxxtest/releases/download/4.4/cxxtest-4.4.tar.gz
  - $NOAPT || tar xzf cxxtest-4.4.tar.gz
  - $NOAPT || export "CXXTEST=${PWD}/cxxtest-4.4"
  - $NOAPT || git clone https://github.com/diffpy/libobjcryst.git
  - $NOAPT || popd

install:
  - $NOMC || conda build --keep-old-work conda-recipe
  - $NOMC || MYCONDATESTENV="$(ls -td ~/mc/conda-bld/conda-recipe_*/_t_env | head -1)"
  - $NOMC || source activate ${MYCONDATESTENV:?"conda test environment not found"}
  - $NOMC || conda list  --export ${MYNAME} > /tmp/mypackage.txt
  - $NOMC || source activate root
  - $NOMC || conda build purge
  - $NOMC || source activate testenv
  - $NOMC || conda install --yes --use-local --file=/tmp/mypackage.txt
  - $NOMC || conda install --yes cxxtest scons
  - $NOMC || MYPREFIX="${HOME}/mc/envs/testenv"

  - $NOAPT || sudo scons -C ~/pkgs/libobjcryst install
  - $NOAPT || cd ~/pkgs/"$(basename "${MYTARBUNDLE}" .tar.gz)"/
  - $NOAPT || scons build=fast lib
  - $NOAPT || sudo scons build=fast install
  - $NOAPT || scons -Q build=fast --clean lib
  - $NOAPT || MYPREFIX=/usr/local

  # Verify version of the installed library.
  - MYINCLUDE="${MYPREFIX}/include"
  - MYVERSION="${MYINCLUDE}/diffpy/version.hpp"
  - MYGIT_REV=$(grep '^#define DIFFPY_GIT_SHA' "$MYVERSION" | cut -d '"' -f 2)
  - if [[ "${TRAVIS_COMMIT}" != "${MYGIT_REV}" ]]; then
        echo "Version mismatch ${TRAVIS_COMMIT} vs ${MYGIT_REV}.";
        exit 1;
    fi

  # Mac OS X must use the same deployment target as conda-build.
  - if $MYUSEMC && [[ "${TRAVIS_OS_NAME}" == osx ]]; then
        export MACOSX_DEPLOYMENT_TARGET=10.7;
    fi

  - $NOMC || export MYPREFIX
  - $NOMC || cp .travis-sconscript.local sconscript.local
  - scons build=fast prefix="${MYPREFIX}" test_installed=true alltests
  - MYALLTESTSFAST=$(ls -t ${PWD}/build/fast*/tests/alltests | head -1)
  - scons build=debug lib alltests


before_script:


script:
  - scons -Q build=debug test
  - scons -Q build=debug enable_objcryst=false test
  - ${MYALLTESTSFAST}


#after_success:
# - pip install $MYPIPFLAGS codecov
# - codecov
